<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>mm.controller.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>payprinttable</display-name>
    <servlet-name>payprinttable</servlet-name>
    <servlet-class>mm.controller.payprinttable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payprinttable</servlet-name>
    <url-pattern>/payprinttable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentTableController</display-name>
    <servlet-name>PaymentTableController</servlet-name>
    <servlet-class>mm.controller.PaymentTableController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentTableController</servlet-name>
    <url-pattern>/PaymentTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePayTable</display-name>
    <servlet-name>UpdatePayTable</servlet-name>
    <servlet-class>mm.controller.UpdatePayTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePayTable</servlet-name>
    <url-pattern>/UpdatePayTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePaymentController</display-name>
    <servlet-name>UpdatePaymentController</servlet-name>
    <servlet-class>mm.controller.UpdatePaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePaymentController</servlet-name>
    <url-pattern>/UpdatePayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostPaymentController</display-name>
    <servlet-name>PostPaymentController</servlet-name>
    <servlet-class>mm.controller.PostPaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostPaymentController</servlet-name>
    <url-pattern>/PostPayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MaintainVendorController</display-name>
    <servlet-name>MaintainVendorController</servlet-name>
    <servlet-class>mm.controller.MaintainVendorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaintainVendorController</servlet-name>
    <url-pattern>/MaintainVendor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateMaterialController</display-name>
    <servlet-name>CreateMaterialController</servlet-name>
    <servlet-class>mm.controller.CreateMaterialController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateMaterialController</servlet-name>
    <url-pattern>/CreateMaterial</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectVendorController</display-name>
    <servlet-name>SelectVendorController</servlet-name>
    <servlet-class>mm.controller.SelectVendorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectVendorController</servlet-name>
    <url-pattern>/SelectVendor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPaymentController</display-name>
    <servlet-name>SearchPaymentController</servlet-name>
    <servlet-class>mm.controller.SearchPaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPaymentController</servlet-name>
    <url-pattern>/SearchPayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestController</display-name>
    <servlet-name>TestController</servlet-name>
    <servlet-class>mm.controller.TestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestController</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayVendorController</display-name>
    <servlet-name>DisplayVendorController</servlet-name>
    <servlet-class>mm.controller.DisplayVendorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayVendorController</servlet-name>
    <url-pattern>/DisplayVendor</url-pattern>
  </servlet-mapping>
</web-app>